extends layout

block content
  h1= title
  div(class="container")
  p This is webapps Assignment 10
  <button type="button" class="btn btn-secondary btn-lg" onclick="update()">Press Me</button>
  div(id="target") Display


  script. 
      var client_count=0 
      function update(){
        client_count++;
        document.getElementById("target").innerHTML=`Value now ${client_count}`
      }

  - var url = 'IceCream'
  a(href='/' + url) IceCream 
